/* 
body{
    background-color: #f0f0f0;
}

.zoom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} 
.container{
    position: absolute;

}
.img-container{
    position:relative;
    cursor: none;
    overflow: hidden; 
    height: 750px;
    width: 500px;
}

.img-container img{
    width: 100%;
    object-fit: cover;
}
.magnifier{
    position: absolute;
    height: 150px;
    width: 150px; 
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.5);
    border: 5px solid white;
    pointer-events: none;
    display: none;

    background-repeat: no-repeat; 
} */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    overflow: hidden;
    text-align: center; 
}
.hidden{
    display: none;
}
img {
    display: block;
    cursor: none;
    object-fit: cover;
    z-index: 0;
}
.magnifier {
    position: absolute;
    border-radius: 50%;
    border: 7px solid white;
    pointer-events: none;
    display: none;
    background-repeat: no-repeat;
}

.containerCta {
    position: absolute;
    bottom: 6%; 
    width: 100%;
    text-align: center; 
}
  
.cta {
    object-fit: cover;
    cursor: pointer;
    margin: 0 auto;
    z-index: 10;
    height: auto;
}

@media only screen and (max-width: 428px){
    .container{
        width: 100%; 
    }
    .cta {
        width: 49%;
    }
    .containerCta {
        bottom: 12%; 
    }
    #image1, 
    #image2{
        max-height: 100vh; 
        height: 100vh; 
        min-width: 320px;
        width: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
    }
    .magnifier {
        width: 150px;
        height: 150px;
    }
    
}

@media only screen and (min-width: 429px) and (max-width: 1023px) {
    img {
        width: 100%;
        height: 100vh;
    }
    .magnifier {
        width: 170px;
        height: 170px;
    }
    .cta {
        width: 40%;
    }
    .containerCta {
        bottom: 10%; 
    }
}

@media only screen and (min-width: 1024px) {
    img {
        max-width: 100%;
        height: 100vh;
    }
    .magnifier {
        width: 220px;
        height: 220px;
    }
    .cta {
        width: 38%;
    }
}




